@model TheHotelApp.Models.Room

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Room</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Number)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Number)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Available)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Available)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MaximumGuests)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MaximumGuests)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RoomType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RoomType.ID)
        </dd>
    </dl>
</div>
<h4>Features</h4>
@foreach (var feature in ViewBag.Features as IEnumerable<Feature>)
{
    <p>@feature.Name</p>
    <p>@feature.Icon</p>
}

<h4>Images</h4>
@foreach (var image in ViewBag.Images as IEnumerable<Image>)
{
    <img src="@image.ImageUrl" asp-append-version="true" alt="@image.Name"/>
}


<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
