

@model TheHotelApp.Models.Room
@using TheHotelApp.ViewModels




<!-- Start Page Header -->
<div class="page-header">
    <h1 class="title">Rooms</h1>
    <ol class="breadcrumb">
        <li><a asp-action="Index">Rooms</a></li>
        <li class="active">Details</li>
    </ol>
    <!-- Start Page Header Right Div -->
    <div class="right">
        <a asp-action="edit" asp-route-id="@Model.ID" class="btn btn-option3 btn-lg">Edit Room</a>
    </div>
</div>
<!-- End Page Header -->
<!-- START CONTAINER -->
<div class="container-padding">
    <div class="row">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="col-md-12 col-lg-6">
            <div class="row">
                <div class="panel panel-default col-md-12">
                    <div class="panel-title">
                        Room Details
                        <ul class="panel-tools">
                            <li><a class="icon minimise-tool"><i class="fa fa-minus"></i></a></li>
                            <li><a class="icon expand-tool"><i class="fa fa-expand"></i></a></li>
                            <li><a class="icon closed-tool"><i class="fa fa-times"></i></a></li>
                        </ul>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <p class="col-sm-4">
                                    <b>Room Number: </b>
                                </p>
                                <p class="col-sm-8">
                                    @Model.Number
                                </p>
                            </div>

                            <div class="col-sm-12">
                                <p class="col-sm-4">
                                    <b>Room Type: </b>
                                </p>
                                <p class="col-sm-8">
                                    @Model.RoomType.Name
                                </p>
                            </div>

                            <div class="col-sm-12">
                                <p class="col-sm-4">
                                    <b>Price ($): </b>
                                </p>
                                <p class="col-sm-8">
                                    @Model.Price
                                </p>
                            </div>

                            <div class="col-sm-12">
                                <p class="col-sm-4">
                                    <b>Status: </b>
                                </p>
                                <p class="col-sm-8">
                                    @Model.Available
                                </p>
                            </div>

                            <div class="col-sm-12">
                                <p class="col-sm-4">
                                    <b>Room Description: </b>
                                </p>
                                <p class="col-sm-8">
                                    @Model.Description
                                </p>
                            </div>

                            <div class="col-sm-12">
                                <p class="col-sm-4">
                                    <b>Maximum Guests: </b>
                                </p>
                                <p class="col-sm-8">
                                    @Model.MaximumGuests
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default col-md-12">
                    <div class="panel-title">
                        Room Features
                        <ul class="panel-tools">
                            <li><a class="icon minimise-tool"><i class="fa fa-minus"></i></a></li>
                            <li><a class="icon expand-tool"><i class="fa fa-expand"></i></a></li>
                            <li><a class="icon closed-tool"><i class="fa fa-times"></i></a></li>
                        </ul>
                    </div>
                    <div class="panel-body">
                        @foreach (var feature in ViewBag.Features as IEnumerable<Feature>)
                        {
                            <div class="row" style="margin-bottom:3px;">
                            <p class="col-sm-3">@feature.Name</p>
                            <img class="img-responsive col-sm-2" width="60" height="60" src="@feature.Icon" asp-append-version="true" />
                                </div>
                        }
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12 col-lg-6">
            <div class="panel panel-default">
                <div class="panel-title">
                    Room Images
                    <ul class="panel-tools">
                        <li><a class="icon minimise-tool"><i class="fa fa-minus"></i></a></li>
                        <li><a class="icon expand-tool"><i class="fa fa-expand"></i></a></li>
                        <li><a class="icon closed-tool"><i class="fa fa-times"></i></a></li>
                    </ul>
                </div>
                <div class="panel-body">
                    @foreach (var image in ViewBag.Images as IEnumerable<Image>)
                    {
                        
                        <img class="col-sm-12" style="margin-bottom:5px;" src="@image.ImageUrl" asp-append-version="true" alt="@image.Name" />
                    }

                </div>
            </div>
        </div>


        <div class="form-group col-md-12">
            <div class="col-md-6 col-md-offset-3">
                <div class="btn-group btn-group-justified" role="group" aria-label="...">
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-success" onclick="window.location.href='/Rooms/Edit/@Model.ID'">Edit Room</button>
                    </div>
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#DeleteModal">Delete Room</button>
                    </div>
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-warning" onclick="window.location.href='/Rooms/Index'">Back To List</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END CONTAINER -->
<!-- //////////////////////////////////////////////////////////////////////////// -->
<!-- DeleteModal -->
<div class="modal fade" id="DeleteModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Delete Room</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete this room? This action is not reversible.</p>
            </div>
            <div class="modal-footer">
                <form asp-action="Delete" method="post">
                    <input type="hidden" name="id" value="@Model.ID" />
                    <input type="submit" value="Delete" class="btn btn-success" />
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </form>
            </div>
        </div>

    </div>
</div> <!-- DeleteModal -->

@section Scripts {

    <script>
        $(document).ready(function () {
            $('#DeleteModal').on('show.bs.modal', function (e) {

                //get data-id attribute of the clicked element
                var roomID = $(e.relatedTarget).data('room-id');
                var roomNumber = $(e.relatedTarget).data('room-number');
                var deleteMessage = "Are you sure you want to delete room with room no: " + roomNumber + "?";
                $('#DeleteConfirmation').html(deleteMessage);
                $(e.currentTarget).find('input[name="id"]').val(roomID);
            }); //Delete Modal
        }); //jquery
    </script>
}
